<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
	package="ru.shiftlaboratory.dynamicFeatures.escorts">

	<dist:module
		dist:instant="false"
		dist:title="@string/dynamic_module_escorts">
		<dist:delivery>
			<dist:install-time/>
		</dist:delivery>
		<dist:fusing dist:include="false"/>
	</dist:module>
</manifest>

